/* Stil za plavi pravougaonik sa desne strane */
.blue-rectangle {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 5cm;
    background-color: blue;
}

/* Stil za modalni prozor */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: blue;
    margin: 10% auto;
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
}

/* Stil za pravougaonik za promenu oblika dugmadi */
.shape-selector {
    margin-top: 10px;
    text-align: center;
}

.shape-selector .circle,
.shape-selector .square {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #007bff;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 0;
}
